<h1>About Me</h1>
<h2>Skills</h2>
<ul>
  <% @skills.each do |skill| %>
    <li> <%= skill %> </li>
  <% end %>
</ul>

<h2>Interests</h2>
<ul>
  <% @interests.each do |interest| %>
    <li> <%= interest %> </li>
  <% end %>
</ul>
